<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <h2>О компании</h2>
      <p>
          ООО «Солярис» — комплексный поставщик топлива и горюче-смазочных материалов для предприятий. Мы осуществляем поставки дизельного и других видов топлива для потребителей любого уровня «под ключ».
      </p>
      <p>
          Солярис – команда профессионалов с более, чем 15-летним опытом работы в топливном снабжении. Мы учли все ошибки прошлого и взяли на вооружение лучшие практики наших коллег, объединив всё это в, пожалуй, лучший клиентский сервис топливного снабжения.
      </p>
    </div>
  </div>
</header>
